.userContainer {
    position: absolute;
    right: 80px;
    top: 20px;
        }    

.logoutContainer {
    position: absolute;
    right: 30px;
    top: 20px;
        }    
        
.Icon {
    color:black;
    font-size:30px;
        }

.footer {
  background-color: #f1f1f1;
  padding: 4px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

.footer a:hover {
  text-decoration: underline;
}