 /* Container für die Boxen */
  .container-dt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .boxtitle {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
      width: 75%;
      position:relative;
      height: 80px;
      justify-content: center;
  
  }
  
  /* Box untere Reihe */
  .box {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
      width: 75%;
      position:relative;
      height: 250px;
  
  }
  
  /*Boxen obere Reihe */
  .boxupperrow {
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    width: 40%;
    height: 400px;
  }

  .boxupperrow-img {
width: 100%; /* Maximale Breite des Bildes */
height: 100%; /* Maximale Höhe des Bildes */
    object-fit: contain;
  }

  
  /* Zweite Reihe von Boxen */

  
  .sub-boxes {
    display: flex;
    justify-content: space-between;
  }
  
  .sub-box {
    width: 22%;
    height: 100px;
    border: 1.5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500 ;
  }
  .sub-box-green{
    width: 22%;
    height: 100px;
    border: 1.5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(81, 214, 81);
    font-weight: 500 ;
  }

/* Stile für den Button-Container */
.button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  


.image-container {
  max-width: 100%; /* Maximale Breite des Bildes */
  max-height: 100%; /* Maximale Höhe des Bildes */
}